<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ventas</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/sweetalert2.css">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/valor.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/material.min.js"></script>
    <script src="js/sweetalert2.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- pageContent -->
    <div class="mdl-tabs__panel" id="tabListDetalle">
        <table class="table table-bordered table-striped text-center mt-3">
            <thead>
                <tr class="bg-primary text-white">
                    <th>codigo producto</th>
                    <th>nombre</th>
                    <th>cantidad</th>
                    <th>valor producto</th>
                </tr>
            </thead>
            <tbody>
                <% datos.forEach(function (datos) {%>
                    <tr>
                        <td>
                            <%= datos.codigo_p%>
                        </td>
                        <td>
                            <%= datos.nombre_prod%>
                        </td>
                        <td>
                            <%= datos.cantidad%>
                        </td>
                        <td>
                            <%= datos.valor_p%>
                        </td>
                         
                        
                    </tr>
                    <% }) %>
                
                    <tr class="valor">
                        <td colspan="2">
                            Total
                        </td>
                        <td colspan="2">
                            <%= datos[0].valor_fac%>
                        </td>
                    </tr>
            </tbody>
            
        </table>
       
    </div>
</body>

</html>